body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#imagem-topo {
    position: absolute;
    top: 0;
    left: 0;
}

.capa {
    text-align: center;
    background-color: #f44336;
    color: white;
    padding: 20px;
}

.capa h1 {
    font-size: 24px;
    margin: 0;
}

.sumario {
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sumario h2 {
    color: #f44336;
    font-size: 28px;
}

.sumario ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.sumario a {
    text-decoration: none;
    color: #333;
}

.sumario a:hover {
    color: #f44336;
}

img#imagem-topo {
    position: absolute; /* Define a posição absoluta */
    top: 0; /* Alinha a parte superior da imagem com o topo da página */
    left: 0; /* Alinha a imagem à esquerda da página */
}

.nav-buttons {
    text-align: center;
    margin-top: 20px;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.nav-button:hover {
    background-color: #0056b3; /* Cor de fundo alterada ao passar o mouse */
}


    table {
        border: 1px solid black;
        border-collapse: collapse; /* Combina as bordas de células adjacentes */
    }

    th, td {
        padding: 5px; /* Define o espaçamento interno das células */
        border: 1px solid black;
    }
